@import templates.Layout
@import uk.gov.hmrc.govukfrontend.views.html.components.FormWithCSRF
@import views.html.components.{ContinueButton, ErrorOutline, Heading, TextInput, BackLink}

@this(layout: Layout,
        formwithCSRF: FormWithCSRF,
        errorOutline: ErrorOutline,
        heading: Heading,
        textInput: TextInput,
        continueButton: ContinueButton,
        backLink: BackLink
)


@(businessNameForm: Form[String], formAction: Call)(implicit request: RequestHeader, messages: Messages)

    @layout(messages("businessName.title"), businessNameForm.hasErrors) {
        @formwithCSRF(action = formAction) {

            @backLink("/register-for-boiled-sweet-tax")

            @errorOutline(businessNameForm)

            @heading(messages("businessName.heading"))

            @textInput(
                form = businessNameForm,
                fieldName = "businessName",
                hintText = messages("businessName.hint"))

            @continueButton()
        }
    }
