@import uk.gov.hmrc.govukfrontend.views.html.components.FormWithCSRF
@import views.html.components._
@import views.html.templates.Layout




@this(
heading: Heading,
paragraph: Paragraph,
layout: Layout)

@(errorMessage: String)(implicit request: RequestHeader, messages: Messages)


@layout(messages("errorpage.title")){

<style>
    h1 {
    font-family: GDS Transport;
    font-size: 3em;
    font-color: FF0000;
    }
    a {
    font-family: GDS Transport;
    }
</style>


<h1 class="govuk-heading-xl"><span style ="color: red;">@errorMessage</span></h1>

<p class="govuk-body">Try again later .</p>

<p class="govuk-body">We saved your answers. They will be available for 30 days.</p>

<p class="govuk-body">
    <a href = @controllers.routes.CheckAnswersController.show() class="govuk-link">Go back to check answers </a> if you need to make changes to your claim or speak to someone about your tax credits.
</p>


}



